<%= render 'layouts/banner' %>
<div class="index-container">
  <h1>Cocktails</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <% @cocktails.each do |cocktail| %>
        <p> <%= cocktail.name %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Create New Cocktail", new_cocktail_path, class: "btn-medium" %>

