<%= render 'layouts/banner' %>
<div class="index-container">
  <div class="text-center">
    <h2>Cocktails</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <%= image_tag "cocktail.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <% @cocktails.each do |cocktail| %>
        <p> <%= cocktail.name %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "Create new cocktail", new_cocktail_path, class: "btn-medium" %>
</div>
