.content {
  margin: 0 100px;
}

.cocktail-info {
  text-align: center;
}

.cocktail-row {
  max-height: 600px;
  margin: 40px 0;
  text-align: center;
}

.cocktail-img {
  height: 400px;
}

.top-padding {
  padding-top: 40px;
}

.btn-padding {
  padding-bottom: 40px;
}
